:root {
    --c1: #4298f4;
    --c2: #4298f473;
    --c3: #444;
    --c4: #ddd;
    --c5: #abc;
    --c6: #abc6;
}

button {
    height: 48px;
    border: 0;
    background: var(--c1);
    box-shadow: inset 2px 2px 3px var(--c4), inset -2px -2px 3px var(--c3);
}

button:hover {
    background: var(--c2);
}

button:active {
    box-shadow: inset -2px -2px 3px var(--c4), inset 2px 2px 3px var(--c3);
}

button.secondary {
    background: var(--c5);
}

button.secondary:hover {
    background: var(--c6);
}
